#nav_main.foundation
  background: #282828
  background: rgba(0, 0, 0, 0.2)
  border-bottom: 4px solid #ddd
  margin-top: 25px
  ul
    padding-top: 10px
    +grid-container
    +clearfix
    li
      display: inline
      +float-left
      margin-right: 3px
      &.signin,
      &.signup,
      &.signout,
      &.admin,
      &.view_site,
      &.site_settings,
      &.current_user
        +float-right
        margin-right: 0
        margin-left: 3px
      a
        background: #1b1b1b
        background: rgba(0, 0, 0, 0.3)
        color: #ddd
        display: inline-block
        padding: 6px 16px
        &:hover
          background: #ddd
          color: #0d0d0d
          text-decoration: none

//  Show current page
=nav_main_current
  a
    background: #ddd
    color: #0d0d0d
    font-weight: bold

body.application.show #nav_main.foundation li.home,
body.application.users.show #nav_main.foundation li.account,
body.application.users.edit #nav_main.foundation li.account,
body.application.user_sessions #nav_main.foundation li.signin,
body.application.users.new #nav_main.foundation li.signup,
body.application.admin_dashboard #nav_main.foundation li.dashboard,
body.application.admin_users #nav_main.foundation li.users,
body.application.admin_emails #nav_main.foundation li.emails,
body.application.admin_invites #nav_main.foundation li.invites,
body.application.admin_profiles #nav_main.foundation li.profiles,
body.application.admin_jobs #nav_main.foundation li.jobs,
body.invites #nav_main.foundation li.invites,
body.referrals #nav_main.foundation li.referrals
  +nav_main_current

//  Aux navigation styles
#nav_aux
  font-size: 11px
  ul
    +float-right
    padding-top: 4px
  li
    +float-left
    border-left: 1px solid #282828
    border-left: 1px solid rgba(0, 0, 0, 0.4)
    color: #fff
    margin-left: 5px
    padding-left: 5px
    &:first-child
      border: none
      margin-left: 0
      padding-left: 0
    a
      color: #fff
      display: inline-block
      padding: 3px 4px
      text-decoration: underline
      &:hover
        background: #282828
        background: rgba(0, 0, 0, 0.4)
        text-decoration: none