- if signed_in?
  = render :partial => "shared/notice_invites"
- else
  = render :partial => "shared/notice_beta"

#page_header
  %h2
    Request an Invite or Invite a Friend

#page_body.wide
  = error_messages_for :invite
  = render :partial => "invite"