= stylesheet_link_tag 'clearfix', 'compiled/admin/admin', :media => 'screen, projection'
= stylesheet_link_tag 'compiled/print', :media => 'print'
/[if IE]
  = stylesheet_link_tag 'compiled/ie', :media => 'screen, projection'