#page_header
  %h2
    Change your password

#page_body
  = error_messages_for :user
  - form_for :user, :url => password_reset_path(@user.perishable_token), :builder => HandcraftedFormBuilder, :html => {:method => :put} do |f|
    - field_set_tag do
      = f.password_field :password
      = f.password_field :password_confirmation
      = f.submit "Change" do
        - link_to "Cancel", account_url, :class => "red"