:erb
  <!--[if IE 6]>
  <script type="text/javascript">var IE6UPDATE_OPTIONS = { icons_path: "<%= root_url %>ie6update/images/" }</script>
  <script type="text/javascript" src="<%= root_url %>ie6update/jquery.ie6update.js"></script>
  <![endif]-->