//** Flash and Notice styles
  The background declarations are broken out into seperate declarations
  to be more future friendly to using sub-classes to extend this further
  For example: .notice.warning
.notice,
.flash
  background-color: #ffffea
  background-image: url(/images/foundation/icon_info_32.png)
  background-repeat: no-repeat
  background-position: 15px 12px
  border: 1px solid #ececd8
  +border-radius("5px")
  margin: 20px 0
  & > .padding
    padding: 10px 10px 10px 63px
  h4
    font-size: 14px
    font-weight: bold
    margin-bottom: 8px
  a
    &:hover
      text-decoration: underline

.flash
  background-position: 15px 50%
  font-size: 14px
  & > .padding
    padding: 17px 10px 17px 63px
  &.warning
    background-color: #D90B0B
    background-image: url(/images/foundation/icon_stop_light_32.png)
    border: 1px solid #9A0000
    color: #fff

//** Form error styles
  We are using the Rails default ids here.
#errorExplanation
  background: #c00
  border: 2px solid #9A0000
  color: #fff
  font-size: 12px
  margin: 0px 10px 15px 0
  padding: 10px 15px
  h2
    border-bottom: 1px solid #9A0000
    color: #fff
    font-size: 16px
    font-weight: bold
    margin-bottom: 10px
    padding-bottom: 5px
  p
    font-size: 12px
  ul
    margin: 10px 0
    padding: 0 0 0 15px
    li
      line-height: 1.5
      list-style: disc
      margin-bottom: 5px