#page_header
  %h1 Profiles

#page_body.wide
  %h2 Profiles
  = resources_table @profiles, :fields => [:email, :first_name, :last_name], :headers => ["Email", "First Name", "Last Name"], :link_action => :edit
  