/* ------------------------------------------------------------
	P.I.E. FLOAT CLEARING
	www.positioniseverything.net/easyclearing.html
------------------------------------------------------------ */
.clearfix:after {
	content: ".";
	clear: both;
	height: 0;
	visibility: hidden;
	display: block;
}

.clearfix {
	display: inline-block; /* Fixes IE/Mac */
}

/* Hides from IE-mac \*/
* html .clearfix {
	height: 1%;
}
.clearfix {
	display: block;
}
/* End hide from IE-mac */

/* -----------------------------------------------------
  Clear
----------------------------------------------------- */
.clear {
	clear: both;
}