.grids
  .grid.four
    %h3
      Content Design
    %p
      %strong
        \#page_header
      \ - Reserves h1 and h2 tags for itself
    %p
      %strong
        \#page_body & #page_sidebar
      \ - Can only use h3 through h6 tags. Remember, h1 and h2 tags are reserved by #page_header

    %ul
      %li Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      %li Empowerment of all personnel, not just key operatives.
      %li Exploitation of core competencies as an essential enabler
      %li Adopting project appraisal through incremental cash flow analysis.
  .grid.four
    %h3
      Content Design
    %p
      %strong
        \#page_header
      \ - Reserves h1 and h2 tags for itself
    %p
      %strong
        \#page_body & #page_sidebar
      \ - Can only use h3 through h6 tags. Remember, h1 and h2 tags are reserved by #page_header

    %ul
      %li Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      %li Empowerment of all personnel, not just key operatives.
      %li Exploitation of core competencies as an essential enabler
      %li Adopting project appraisal through incremental cash flow analysis.