.grids

  .grid.four
    %h3
      Focus on User Happiness
    %ul
      %li Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      %li Empowerment of all personnel, not just key operatives.
      %li Exploitation of core competencies as an essential enabler
      %li Adopting project appraisal through incremental cash flow analysis.

  .grid.four
    %h3
      Content Design
    %ul
      %li Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      %li Empowerment of all personnel, not just key operatives.
      %li Exploitation of core competencies as an essential enabler
      %li Adopting project appraisal through incremental cash flow analysis.