:erb  
  <!--
    Font: lean
    Get yours: http://www.network-science.de/ascii/
        _/    _/                            _/                                    _/_/    _/                      _/   
       _/    _/    _/_/_/  _/_/_/      _/_/_/    _/_/_/  _/  _/_/    _/_/_/    _/      _/_/_/_/    _/_/      _/_/_/    
      _/_/_/_/  _/    _/  _/    _/  _/    _/  _/        _/_/      _/    _/  _/_/_/_/    _/      _/_/_/_/  _/    _/     
     _/    _/  _/    _/  _/    _/  _/    _/  _/        _/        _/    _/    _/        _/      _/        _/    _/      
    _/    _/    _/_/_/  _/    _/    _/_/_/    _/_/_/  _/          _/_/_/    _/          _/_/    _/_/_/    _/_/_/       
  -->