- @partial_title = "Foundation Grid"
- @page_description = @site.description
- @page_keywords = "handcrafted, rails, foundation, bootstrap, foundation grid"

#page_header
  %h2
    Handcrafted's Grid Coordinates Compass Plugin

.grid_container.content
  .grid.ten
    :markdown
      ##Grid Coordinates is Simple

      [Grid Coordinates](http://github.com/handcrafted/compass-grid-coordinates-plugin) is just a grid. It also supports nested grids and is also able to generate the CSS for a multitude of grid coordinates.
      
      ##Default Grid Setup / 960126020
      
      The default grid setup is 960px wide, 12 columns at 60px each with a 20px gutter. Feel free to mix it up with something like -- 960 / 16 / 40 / 20, or 800 / 10 / 60 / 20.
      
      All you need to do is update the 4 variables to change the coordinates of your grid. Use [1kbgrid.com](http://1kbgrid.com/) as a guide to the various grid coordinates possible.
      
      Grid Coordinates is a [Compass](http://compass-style.org/) plugin based on and heavily inspired by [Tyler Tate's](http://www.tylertate.com/) [1kb CSS Grid project](http://1kbgrid.com/). Beautifully simple and even more so when written in [Sass](http://sass-lang.com/).

  .grid.two
    :markdown
      * [Grid Coordinates (Compass Plugin)](http://github.com/handcrafted/compass-grid-coordinates-plugin)
      * [Foundation](http://github.com/handcrafted/foundation)
      * [1kb CSS Grid](http://www.1kbgrid.com/)
      * [Tyler Tate](http://www.tylertate.com/)

.grid_container.sample
  - 12.times do
    .grid.one
      %p
        1

.grid_container.sample
  - 6.times do
    .grid.two
      %p
        2

.grid_container.sample
  .grid.eight
    .grid_container.nested
      - 2.times do
        .grid.two
          %p
            2
      .grid.four
        %p
          4
  .grid.four
    %p 4

.grid_container.sample
  .grid.four
    %p 4
  .grid.four
    %p 4
  .grid.four
    %p 4