- @partial_title = "Homepage"
- @page_description = @site.description
- @page_keywords = "handcrafted, rails, foundation, bootstrap"

#page_header
  %h2
    Homepage

#page_body
  - if signed_in?
    %p
      Cool, you are already signed in. Good work!
    %p
      OK, you can start building
      %strong
        your app
      now....
  - else
    %p
      Seems you need to get started. Go ahead and
      = link_to "sign in", signin_url
      or
      = link_to "sign up", signup_url
      for a new account.

  %h3
    Content Design
  %p
    %strong
      \#page_header
    \ - Reserves h1 and h2 tags for itself
  %p
    %strong
      \#page_body & #page_sidebar
    \ - Can only use h3 through h6 tags. Remember, h1 and h2 tags are reserved by #page_header

  %ul
    %li Lorem ipsum dolor sit amet, consectetur adipisicing elit.
    %li Empowerment of all personnel, not just key operatives.
    %li Exploitation of core competencies as an essential enabler
    %li Adopting project appraisal through incremental cash flow analysis.

#page_sidebar
  .wrap
    %p
      Foundation is the starting point for each of Handcrafted's projects.
    %p
      We bake all our goodness in here.
      %strong
        Once.