- @partial_title = "Homepage"
- @page_description = @site.description
- @page_keywords = "handcrafted, rails, foundation, bootstrap"

%p
  - if signed_in?
    You are signed in.
  - else
    Get started: 
    = link_to "Sign-in", signin_url
    or
    = link_to "Sign-up", signup_url