- @partial_title = "Homepage"
- @page_description = @site.description
- @page_keywords = "handcrafted, rails, foundation, bootstrap"

#page_header
  %h2
    Homepage

#page_body
  - if signed_in?
    %p
      Cool, you are already signed in. Good work!
    %p
      OK, you can start building
      %strong
        your app
      now....
  - else
    %p
      Seems you need to get started. Go ahead and
      = link_to "sign in", signin_url
      or
      = link_to "sign up", signup_url
      for a new account.
  
  = render :partial => "shared/content_samples" if signed_in?

#page_sidebar
  .wrap
    %p
      Foundation is the starting point for each of Handcrafted's projects.
    %p
      We bake all our goodness in here.
      %strong
        Once.