#page_header
  %h1
    Editing <%= singular_name %>

#page_body
  / Edit <%= singular_name %> form
  - form_for @<%= singular_name %>, :url => admin_<%= singular_name %>_url(@<%= singular_name %>), :builder => HandcraftedFormBuilder do |f|
    <%- column_names.each do |name| -%>
    <%- next if %w(id created_at updated_at).include?(name) -%>
    = f.text_field :<%= name -%>
    <%- end %>
    = f.submit "Update" do
      - link_to "Cancel", admin_dashboard_url, :class => "red"