#page_header
  %h1
    = fetch_section_name
#page_body.wide
  = sortable_table @<%= plural_name %>, { :link_action => :edit, :no_header => true }
  = link_to "New <%= singular_name %>", new_admin_<%= singular_name %>_url