#page_header
  %h1 Users
#page_body.wide
  = resources_table @users, :headers => ["Email", "Signin count", "Current IP Address", "Admin"], :fields => [:email, :login_count, :current_login_ip, :admin], :link_action => :edit