#footer
  %p
    = "#{link_to "Handcrafted", "http://gethandcrafted.com/", :rel => "home"} &ndash; All Content Copyright &copy; 2008 - #{Time.now.year} Handcrafted, LLC"
  %p All Trademarks and Copyrights remain the property of their respective owners.