//**Import Compass Mixins

@import partials/base.sass

//** Core Grid Settings
#branding,
#page,
#footer
  +row
#page_body
  +grid(8)
  &.wide
    +grid(12)
#page_sidebar
  +grid(4)

//** Foundation Styles
#mast_head
  background: #333
  padding-top: 25px
#branding
  color: #fff
  h1
    font-size: 22px
    font-weight: normal
    a
      color: #fff

#page
  +min-height("500px")
  #page_header
    border-bottom: 1px solid #cacaca
    font-size: 14px
    margin: 15px 0
    padding: 10px
  #page_body
    h2,
    h3
      margin-bottom: 25px
    h2
      font-size: 16px
    h3
      font-size: 14px
    p
      font-size: 14px
      line-height: 1.5
      margin-bottom: 18px
      &:last-child
        margin-bottom: 0
    table
      margin-bottom: 30px
      width: 100%
      thead
        tr
          th
            border-bottom: 4px solid #aaa
            padding: 5px
      tbody
        tr
          td
            border-bottom: 1px solid #ccc
            padding: 12px 5px

  #page_sidebar
    background: #e5e5e5
    background: rgba(0,0,0,0.1)
    +border-radius("5px")
    .wrap
      padding: 15px
    p
      line-height: 1.5
      margin-bottom: 18px
      &:last-child
        margin-bottom: 0
    form
      input[type="text"], input[type="password"]
        font-size: 16px
        font-weight: bold
        text-align: center
        width: 25px
    #invites
      h2
        font-size: 14px
        margin-bottom: 12px
      ul
        li
          line-height: 1.5
      form
        margin-top: 20px
        .form_actions
          border-top: none
          margin-top: 0
          padding-top: 0
  #page_footer
    border-top: 1px solid #cacaca
    padding-top: 10px

#footer
  border-top: 1px solid #cacaca
  font-size: 11px
  margin-top: 20px
  padding: 20px 0
  p
    margin-bottom: 8px
    &:last-child
      margin-bottom: 0
  a
    border-bottom: 2px solid #ccc
    color: #0d0d0d
    font-weight: bold
    text-decoration: none